* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 1.06em;
}

body {
    background: #3F52C1;
    min-width: 320px;
}

#wrapper {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 375px;

}

.content {
    margin-bottom: 120px;
}

.row {
    margin-top: 10px;
    display: flex;
    flex: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*
    Header
 */
header {
    background: #161743;
    height: 50px;
}
    header h1 {
        color: white;
        font-size: 1.7em;
        text-align: left;
        text-decoration: underline;
        line-height: 1.7em;
        margin-left: 15px;
        margin-right: 15px;
    }
    header a,
    header a:visited,
    header a:hover,
    header a:active {
        color: inherit;
    }

/**
    Alert popup
 */
.alert .error,
.alert .success {
    background: #161743;
    color: white;
    border-radius: 5px;
    font-size: 0.6em;
    padding: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}
.error {
    color: #ff4400;
}
.success {
    color: #2AD78D;
}
    /* .alerts ul {
        padding: 0;
        list-style-type: none;
    } */


/**
    Buttons
 */
.btnDisabled, .btnEnabled {
    color: white;
    text-decoration: none;
    text-align: left;
    border-radius: 5px;
    width: 100%;
    padding: 3px 10px;
    border: 1px solid white;
    cursor: pointer;
}

.btnDisabled {
    background: #F35340;

}

.btnEnabled {
    background: #2AD78D;
    color: #161743;
}

.txtAmount {
    color: white;
    margin: 0 10px;
}

.btnDelete {
    width: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: #F35340;
    border: 1px solid #F35340;
    border-radius: 5px;
    padding: 3px 0;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
}

/**
    Footer
    Text Input
 */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
    .footer-txt, .footer-btn {
        height: 50px;
        font-size: 1.15em;
    }
    .footer-txt {
        width: 100%;
        text-align: center;
        background: #291157;
        color: white;
    }
    .footer-txt:focus {
        border: 2px solid white;
    }